
<h3>詳細</h3>
<div class="student">
  <p><%= @student.point %></p>
  <p><%= @student.name %></p>
  <p><%= @student.created_at %></p>
    <% if user_signed_in? %>
     <% if current_user.already_liked?(@student) %>
        <%= link_to student_like_path(id: @student.id, student_id: @student.id), data: { turbo_method: :delete } do %>
          <i class="fa-regular fa-heart"></i><%= @student.likes.count %>
        <% end %>
     <% else %>
        <%= link_to student_likes_path(id: @student.id, student_id: @student.id), data: { turbo_method: :post }  do %>
            <i class="fa-regular fa-heart"></i><%= @student.likes.count %>
        <% end %>
     <% end %>
<% else %>
    <i class="fa-regular fa-heart"></i><%= @student.likes.count %>
<% end %>
  <%= link_to "編集する", edit_student_path(@student.id) %>
</div>

<% @student.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>

<h3>いいねしたユーザー</h3>
<% @student.liked_users.each do |user| %>
  <li><%= user.name %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.name unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@student, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>


<%= link_to "出品一覧に戻る", students_path %>