<div class="user-in">
  <% @entries.each do |e| %>
    <h3><strong><a href="/users/<%= e.user.id %>"><%= e.user.name %></a></strong></h3>
  <% end %>
  <p>2人のDM</p>
</div>

<div class="dmMain">
  <% @messages.each do |m| %>
    <strong><%= m.body %></strong><br>
    <% if m.image.attached? %>
      <%= image_tag m.image.variant(resize_to_limit: [300, 300]) %><br>
    <% end %>
    <small><%= m.user.name %>さん</small>
    
    <% if m.user == current_user %>
    <%= button_to "削除", message_path(m), method: :delete, data: { confirm: "本当に削除しますか？" }, form_class: "inline-form", class: "delete-button" %>
  <% end %>
<% end %>

  <%= form_for @message, html: { multipart: true } do |f| %>
    <%= f.text_field :body, placeholder: "メッセージを入力して下さい", size: 100 %><br>
    <%= f.file_field :image %><br> 
    <%= f.hidden_field :room_id, value: @room.id %><br>
    <%= f.submit "送信する" %>
  <% end %>
</div>

  <%= link_to "マイページへ", user_path(current_user.id) %>

<style>
.user-in {
  text-align: center;
  border: 1px solid darkgray;
  background-color: gainsboro;
}
.dmMain {
  padding: 30px;
  border: 1px solid darkgray;
  background-color: gainsboro;
}
</style>
